body{
    background-color: rgb(28, 28, 28);
    margin:0;
    padding: 0;
    color:white;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
}
#header{
    height: 36px;
    border-bottom:2px solid rgb(255, 77, 0);
    padding-left: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
}
#left-container{
    position: fixed;
    top:38px;
    bottom: 0;
    width: 320px;
    overflow-y: auto;
    border-right:2px solid rgb(255, 75, 0);
    display: flex;
    flex-direction: column;
}
#right-container{
    margin: 0 auto 0 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-width: 580px;
    top:38px;
    left:322px;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: calc(100% - 322px);
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 75, 0) ; 
}
::-webkit-scrollbar-thumb {
    background: rgba(200, 75, 0, 0.5) ; 
}


.item{
    float: left;
    min-width: 100%;
    border-bottom: 1px solid rgba(255, 75, 0, 0.4);
    border-top: 1px solid rgba(255, 75, 0, 0.4);
    max-height: 50px;
    transition: 0.3s;
}
.item:hover{

    border-bottom: 1px solid rgba(255, 75, 0, 1);
    border-top: 1px solid rgba(255, 75, 0, 1);
}
.itemHeader{
    float: left;
    padding-left: 10px;
    max-width: 270px;
}

button{
    margin: 0 0 0 0;
    background: inherit;
    outline: none;
    opacity: 0.6;
    transition: 0.3s;
}
button:hover {opacity: 1;}
button:active{border: 0;}

.delItemBtn{
    position: relative;
    border: 0;
    color:rgb(255, 75, 0);
    float: right;
    min-height: 50px;
    min-width: 32px;
}
.expandBtn{
    bottom: 50px;
    height: 50px;
    width: 280px;
    z-index: 9999;
    border: 1px;
    position: relative;
}
.contAdd{
    width: 50px;
    height: 50px;
    display: block;
    margin:2px auto 80px auto;
}
.contAddBtn{
    border: 0;
    color:rgb(255, 75, 0);
    width: 50px;
    height: 50px;
}
.rcItem{
    margin: 20px auto 0 auto;
    display: block;
    border: 0;
    background: inherit;
    color:inherit;
    min-height: 28px;
    max-width: 720px;

}
.expandedItemTitle{
    min-width: 480px;
    height: 25px;
    word-break: break-all;
    resize:none;
    overflow: hidden;
    font-size: 24px;
    background-color: rgb(24, 24, 24);

}

img{
    flex-shrink: 0;
    max-height: 800px!important;
}
.expandedItemtextarea{
    min-width: inherit;
    min-height: 48px;
    word-break: break-all;
    resize:none;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    margin-bottom: 100px;
}
.selectBtn::-webkit-file-upload-button{
    visibility: hidden;
}
.selectBtn{
    padding: 0!important;
    margin: 0 2px 0 0!important;
    border: 1px solid rgb(255, 75, 0);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
}
.submitBtn{
    border: 1px solid rgb(255, 75, 0);
    height: 23px;
    color: #ccc;
    opacity: 100%;
}
.submitBtn:active{
    border: 1px solid rgb(255, 75, 0);
}

/* 
rgb(20, 20, 20);
rgb(255, 75, 0) 
*/