body{
    background-color: rgb(28, 28, 28);
    margin:0;
    padding: 0;
    border:0;
    color:white;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    
}

#header{
    height: 20px;
    border-bottom:2px solid rgb(255, 77, 0);
    padding-left: 10px;
}
#right-container{
    margin: 0 auto 0 auto;
    

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 400px;
}
#left-container{
    width: 320px;
    min-height: 100vh;
    float: left;
    border-right:2px solid rgb(255, 75, 0);
    display: flex;
    flex-direction: column;
}
.col{
    float: left;
    min-width: 100%;
    border-bottom: 1px solid rgba(255, 75, 0, 0.4);
    border-top: 1px solid rgba(255, 75, 0, 0.4);
    max-height: 50px;
    transition: 0.3s;
}
.col:hover{

    border-bottom: 1px solid rgba(255, 75, 0, 1);
    border-top: 1px solid rgba(255, 75, 0, 1);
}
.colHeader{
    float: left;
    padding-left: 10px;
}

button{
    margin: 0 0 0 0;
    background: inherit;
    outline: none;
    opacity: 0.6;
    transition: 0.3s;
}
button:hover {opacity: 1;}
button:active{border: 0;}

.delColBtn{
    position: relative;
    border: 0;
    color:rgb(255, 75, 0);
    float: right;
    min-height: 50px;
    min-width: 32px;
}
.expandBtn{
    bottom: 50px;
    height: 50px;
    width: 288px;
    z-index: 9999;
    border: 1px;
    position: relative;
}
.contAdd{
    width: 50px;
    height: 50px;
    display: block;
    margin:2px auto 0 auto;
}
.contAddBtn{
    border: 0;
    color:rgb(255, 75, 0);
    width: 50px;
    height: 50px;
}
.expandedObjTitle,
.expandedObjImg,
.expandedObjtextarea{
    margin: 20px auto 0 auto;
    display: block;
    border: 0;
    background: inherit;
    color:inherit;
    max-width: 720px;
}
.expandedObjTitle{
    min-width: 400px;
    height: 25px;
    word-break: break-all;
    resize:none;
    overflow: hidden;
    font-size: 24px;
    background-color: rgb(24, 24, 24);

}
.expandedObjImg{
    object-fit: contain;
}
.expandedObjtextarea{
    min-width: 400px;
    word-break: break-all;
    resize:none;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
}
.formBtn{
    min-width: 20px;
    min-height: 20px;
}
/* 
rgb(20, 20, 20);
rgb(255, 75, 0) 
*/